<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcxuexi.mapper.UserMapper">

    <select id="selectInfo" resultType="com.dcxuexi.entity.User">
        select * from platform_user limit 10
    </select>
</mapper>
